.links
  = link_to 'Zurück', root_path
  \|
  = link_to 'Anmelden', new_candidato_path
.text
  %h3 Geschenkliste

  %ul.regalo-list
    - @regalos.each do |regalo|
      %li
        %h3= regalo.name
        .list-links
          = link_to 'Link', regalo.link, :target => '_blank', :class => 'regalo-link'
          = link_to 'Schenken', edit_regalo_path(regalo), :class => 'gift-link'
        .clearfix
