.links.admin-zone
  "ADMIN ZONE"
.links
  = link_to 'Geschenkliste', regalo_admin_path
  \|
  = link_to 'Anmeldungen', candidatos_path

.text
  %h3 Geschenke erfassen

  = form_for @regalo do |f|
    %table
      %thead
      %tbody
        %tr
          %td.left Titel:
          %td= f.text_field :name
        %tr
          %td.left Link:
          %td= f.text_field :link

    = f.submit "Erstellen"
