.links.admin-zone
  "ADMIN ZONE"
.links
  = link_to 'Geschenkliste', regalo_admin_path
  \|
  = link_to 'Anmeldungen', candidatos_path

.text
  %h3 Anmeldungen
  %p= "#{Candidato.sum('number_of_persons')} Personen"

  %ul.candidato-list.regalo-list
    - @candidatos.each do |candidato|
      %li
        %h3= candidato.name
        %p.person-count= "Personen: #{candidato.number_of_persons}"
        %p.candidato-text= candidato.text
        .list-links
          = link_to 'Löschen', candidato_path(candidato), :method => :delete, :confirm => 'Sicher?', :class => 'gift-link'
        .clearfix
